:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
  }

.AllClinicsView button {
    background-color: var(--primary-blue);
    border: none;
    margin-top: -20px;
    margin-left: -50px;
    
  }

  .AllClinicsView button:hover {
    background-color: var(--secondary-blue);
    border: none;
  }

  .AllClinicsView .input {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .AllClinicsView .mb-3 {
    text-align: left;
    padding: 0;
  } 
