.Main-home-items {
    gap:30px;
    margin-bottom:30px;
}

Link {
    text-decoration: none;
}

.home-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

.card{
    justify-self: center;
}

.card-img-top{
    height: 270px;
    object-fit: cover;
}

.card-text{
    height:65px;
}

:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
}
.HomeView button {
    background-color: var(--primary-blue);
    border: none;
    margin-left: 10px;
    margin-block: 15px;
  }
  
.HomeView button:hover {
    background-color: var(--secondary-blue);
    border: none;
  }