.LoginView h2{
    color: var(--primary-blue)
}

:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
}
.LoginView button {
    background-color: var(--primary-blue);
    border: none;
    margin-left: 10px;
    margin-block: 15px;
  }
  
.LoginView button:hover {
    background-color: var(--secondary-blue);
    border: none;
  }