:root {
  --primary-blue: #33658A;
  --secondary-blue: #86BBD8;
  --dark-blue: #2F4858;
  --primary-highlight: #F26419;
  --secondary-highlight: #F6AE2D;
}

.MyVetsView table {
    counter-reset: section;
    text-align: left;
    border: none !important;
    margin-top: 20px;
    font-size: 20px
  }
  
.MyVetsView .count:before {
    counter-increment: section;
    content: counter(section);
  }

.MyVetsView button {
  background-color: var(--primary-blue);
  border: none;
}

.MyVetsView button:hover {
  background-color: var(--secondary-blue);
  border: none;
}
