.ToDosView{
    gap:40px;
    width:80%;
    margin: 0 auto;
}
/* Added classname in front */
.ToDosView h1{
    margin:20px 0px !important;
}

.all-tasks-table{
    width: 100%;
    margin: 0 auto;
    text-align:left;
    table-layout: fixed ;
    height:100%;
}

/* Added the classname here in front */
.ToDosView table {
    border: 1px solid lightgrey !important;
    padding: 5px;
}

#main-th{
    width: 50%;
}

.urgent{
    background-color: #FDE9C4;
}

.cursor-pointer{
    cursor: pointer;
}

#details-box{
    border:1px solid black;
    height:100%;
    width:100%;
}

#h3-table{
    margin-bottom:0px !important
}

.ToDosView h2 {
    color: var(--primary-blue);
    letter-spacing: 5px;
}

/* Added classname in front */
.ToDosView h3{
    padding-bottom:7px;
    margin-bottom:0 !important;
    color: var(--primary-blue);
    letter-spacing: 3px;
}

.selected-table{
    width:100%;
    margin-top:0;
    border-top:0px !important;
    border-right:0px !important;
    border-left:0px !important;
}

.ToDosView th {
    color: var(--primary-blue)
}

/* .btn-todos {
    margin-bottom:10px !important;
    background-color: var(--primary-blue) !important;
    color:white !important;
} */

:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
}
.btn-todos {
    background-color: var(--primary-blue) !important;
    border: none !important;
    margin-left: 10px !important;
    margin-block: 15px !important;
    color:white !important;
  }
  
  .btn-todos:hover {
    background-color: var(--secondary-blue) !important;
    border: none !important;
  }
