

.AddPetFormView tr {
    margin-top: 10px;
    padding-left: 30% !important;
    padding-right: 30%;
    justify-content: center;
    width: 100% !important
}

.AddPetFormView .btn-primary {
    background-color: var(--primary-blue);
    border: none;
  }

.AddPetFormView .btn-primary:hover {
    background-color: var(--secondary-blue);
    border: none;
  }