:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
  }

.AddPetFormView tr {
    margin-top: 10px;
    padding-left: 30% !important;
    padding-right: 30%;
    justify-content: center;
    width: 100% !important
}

.add-pet-alert{
    background-color:#86BBD8 !important;
    color:#2F4858 !important;
    font-weight: bold;
}