.appt-log-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
    gap:30px;
}

.AllPetAppointmentLog h2 {
    margin: 20px 0px;
    color: var(--primary-blue);
    letter-spacing: 5px;
}

:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
}
.AllPetAppointmentLog button {
    background-color: var(--primary-blue);
    border: none;
    margin-left: 10px;
    margin-block: 15px;
  }
  
.AllPetAppointmentLog button:hover {
    background-color: var(--secondary-blue);
    border: none;
  }


.log-bold{
    font-weight:bold;
    margin-bottom:0px !important;
}

.log-alert{
    background-color:white !important;
    color: black !important;
    border:2px solid var(--primary-blue) !important;
}