:root {
    --primary-blue: #33658A;
    --secondary-blue: #86BBD8;
    --dark-blue: #2F4858;
    --primary-highlight: #F26419;
    --secondary-highlight: #F6AE2D;
  }
  
  .MakeAppointmentForm button {
    background-color: var(--primary-blue);
    border: none;
  }
  
  .MakeAppointmentForm button:hover {
    background-color: var(--secondary-blue);
    border: none;
  }

  .MakeAppointmentForm button:active {
    background-color: var(--secondary-highlight) !important;
    border: none;
  }