.UrgentToDos table {
    /* width: 70%; */
    margin: 0 auto;
    text-align:left;
    table-layout: fixed ;
    height:100%;
}

.UrgentToDos h2 {
    color: var(--primary-blue);
    letter-spacing: 5px;
}